.col-xs {
  padding: 5px;
}

.row {
  padding-bottom: 15px;
}

.number {
  text-align: right;
  font-size: 30px;
  width: 100%;
}

.btn-group .btn {
  font-size: 1rem;
  padding: .6rem;
}

div .backspace {
  margin-top: auto;
  margin-bottom: auto;
}

div .backspace a {
  margin-left: -20px;
  text-decoration: none;
}

@media all and (min-width: 375px) {
  /* iPhone 6 */
  .number {
    font-size: 40px;
  }

  .btn-group .btn {
    font-size: 1.4rem;
    padding: .65rem;
  }
}

@media all and (min-width: 414px) {
  /* iPhone 6 plus */
  .number {
    font-size: 46px;
  }

  .btn-group .btn {
    font-size: 1.8rem;
  }
}

@media all and (min-width: 768px) {
  /* iPad */
  .number {
    font-size: 68px;
  }

  .btn-group .btn {
    font-size: 5rem;
    padding: .8rem;
  }
}
