.col-xs {
  padding: 5px;
}

.row {
  padding-bottom: 15px;
}

.number {
  text-align: right;
  font-size: 30px;
  width: 100%;
}

@media all and (min-width: 375px) {
  /* iPhone 6 */
  .number {
    font-size: 40px;
  }
}

@media all and (min-width: 414px) {
  /* iPhone 6 plus */
  .number {
    font-size: 46px;
  }
}

@media all and (min-width: 768px) {
  /* iPad */
  .number {
    font-size: 68px;
  }
}
